body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-image: url('images/background.jpg'); /* Cambia 'ruta/a/tu/imagen.jpg' a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #4e342e;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #6d4c41;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5d4037;
}

button:active {
    background-color: #4e342e;
}
