#container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #83c1bc;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #83c1bc;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #83c1bc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #83c1bc;
}

button:active {
    background-color: #83c1bc;
}



.formtoadd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; /* Alinear el contenido del formulario al centro */
}

input[type="file"] {
    width: calc(100% - 20px); /* Ajustar el ancho del input file */
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 100%; /* Hacer que el botón ocupe el ancho del contenedor */
}
